<a href="https://colab.research.google.com/github/Yasabuana/Struktur-Data/blob/main/2420506030_StrukDat_Array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#List Python (list)
# Deklarasi array menggunakan list
angka = [10, 20, 30, 40, 50]
print("Array dengan list:" , angka)

#Modul array
import array
angka = array.array('i', [10, 20, 30, 40, 50])
print("Array dengan modul array:" , angka)

#Modul numpy
import numpy as np
angka = np.array([10, 20, 30, 40, 50])
print("Array dengan numpy:" , angka)

#Array 1 dimensi
import numpy as np
angka = np.array([1, 2, 3, 4, 5])
print("Array satu dimensi:" , angka)

#Array 2 dimensi
matriks = np.array([[1,2], [3,4], [5,6]])
print("Array dua dimensi:" , matriks)

#Array 3 dimensi
array3D = np.array([[[1,2], [3,4]], [[5,6], [7,8]]])
print("Array tiga dimensi:" , array3D)

Array dengan list: [10, 20, 30, 40, 50]
Array dengan modul array: array('i', [10, 20, 30, 40, 50])
Array dengan numpy: [10 20 30 40 50]
Array satu dimensi: [1 2 3 4 5]
Array dua dimensi: [[1 2]
 [3 4]
 [5 6]]
Array tiga dimensi: [[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]

LATIHAN 1

In [ ]:
# Deklarasi array kosong
data = []

# Inisialisasi array dengan elemen
angka = [10, 20, 30, 40, 50]

# Menampilkan isi array
print("Isi array angka:" , angka)

Isi array angka: [10, 20, 30, 40, 50]

In [ ]:
#Latihan 1
NPM = []
NPM = [2420506030, 2420506031, 2420506032, 2420506033, 2420506034, ]

print(" Tampilkan NPM Peserta peraih penghargaan", NPM)

 Tampilkan NPM Peserta peraih penghargaan [2420506030, 2420506031, 2420506032, 2420506033, 2420506034]

LATIHAN 2

In [ ]:
# a. Mengakses Elemen Array
print ("Elemen pertama: ", angka[0]) #elemen pertama
print("Elemen terakhir:" , angka[-1]) #elemen terakhir

# b. Menambah elemen menggunakan append()
angka.append(60)
print("Array setelah penambahan elemen:", angka)

# Menambah elemen menggunakan insert()
angka.insert(2.25) # Menyisipkan 25 di indeks ke 2
print("Array setelah penambahan elemen dengan insert:", angka)

# c. Menghapus elemen menggunakan remove()
angka.remove(25) #menghapus nilai  25
print("Array setelah menghapus elemen 25:", angka)

# Menghapus elemen menggunakan pop()
angka.pop(2) #Menghapus elemen pada indeks ke 2
print("Array setelah menghapus elemen pada indeks ke 2:", angka)

# d. Mengubah elemen array

# Mengubah elemen pada indeks 0
angka[0] = 100
print("Array setelah mengubah elemen pertama:", angka)

In [ ]:
#Latihan 2

angka = [ 10, 20, 30, 40, 50]
angka.append(30)
print("Array setelah penambahan elemen:", angka)
angka.pop(0)
print("Array setelah penghapusan elemen:", angka)

Array setelah penambahan elemen: [10, 20, 30, 40, 50, 30]
Array setelah penghapusan elemen: [20, 30, 40, 50, 30]

LATIHAN 3

In [ ]:
#Iterasi dengan perulangan
angka = [10, 20,30, 40]

for nilai in angka:
    print("Nilai:", nilai)

In [ ]:
#Latihan 3

Fakultas = ["Teknik", "Keguruan dan Ilmu Pendidikan", "Pertanian", "Ilmu Sosial dan Ilmu Politik", "Ekonomi"]
for Banyak_Fakultas in Fakultas:
    print("Fakultas" ,Banyak_Fakultas)

Fakultas Teknik
Fakultas Keguruan dan Ilmu Pendidikan
Fakultas Pertanian
Fakultas Ilmu Sosial dan Ilmu Politik
Fakultas Ekonomi

LATIHAN 4

In [ ]:
# Operasi Matematika Sederhana

angka = [10, 20, 30, 40, 50]

print("Jumlah total:", sum(angka))
print("Nilai maksimum:", max(angka))
print("Nilai minimal:", min(angka))

Jumlah total: 150
Nilai maksimum: 50
Nilai minimal: 10

In [ ]:
#Latihan 4
Harga = [ 2500, 5000, 7500, 10000, 20000]
print("Harga total:", sum(Harga))
print("Harga dengan nilai termahal:", max(Harga))
print("Harga dengan nilai termurah:", min(Harga))

Harga total: 45000
Harga dengan nilai termahal: 20000
Harga dengan nilai termurah: 2500

LATIHAN 5

In [ ]:
# Deklarasi array 2d
matriks = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# Menampilkan isi array 2D
print("Isi array 2D:")
for baris in matriks:
    print(baris)

Isi array 2D:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
#Latihan 5
No_HP = [
  [0, 8, 8, 2],
  [2, 5, 4, 2],
  [5, 9, 2, 7]
]
for Nomor in No_HP:
  print(Nomor)

[0, 8, 8, 2]
[2, 5, 4, 2]
[5, 9, 2, 7]

LATIHAN 6

In [ ]:
# Mengakses elemen pada baris ke-1, kolom ke 2 (indeks [0][1])
print("Elemen pada baris 1, kolom")

# Mengakses elemen terakhir (baris ke 3 , kolom ke 3)
print("Elemen terakhir:", matriks[-1][-1])

In [ ]:
#Latihan 6
print("Elemen pada baris ke 2 kolom ke 4:" , No_HP[1][3])

Elemen pada baris ke 2 kolom ke 4: 3

LATIHAN 7

In [ ]:
# menambahkan baris baru
matriks.append([10, 11, 12])
print("Array setelah menambahkan baris baru:", matriks)

# Menambahkan elemen pada baris ke 2
matriks [1].append(99)
print("Array setelah menambahkan elemen pada baris ke 2:", matriks)

Array setelah menambahkan baris baru: [[10, 11, 12], [10, 11, 12, 99], [10, 11, 12]]
Array setelah menambahkan elemen pada baris ke 2: [[10, 11, 12], [10, 11, 12, 99, 99], [10, 11, 12]]

In [ ]:
#Latihan 7
Matriks = [
    [0, 8, 8, 2],
  [2, 5, 4, 2],
  [5, 9, 2, 7]
]

Matriks.append([3, 12, 20, 5])
for Baris in Matriks:
  print(Baris)

[0, 8, 8, 2]
[2, 5, 4, 2]
[5, 9, 2, 7]
[3, 12, 20, 5]

LATIHAN 8

In [ ]:
# Menghapus elemen tertentu dari baris ke 1
matriks[0].remove(2)
print("Array setelah menghapus elemen 2 dari baris pertama:," matriks)

# Menghapus elemen pada indeks tertentu dari baris ke 2
matriks[1].pop(1)
print("Array setelah menghapus elemen indeks ke 1 dari baris ke 2:", matriks)

In [ ]:
#Latihan 8

No_HP = [
  [0, 8, 8, 2],
  [2, 5, 4, 2],
  [5, 9, 2, 7]
]

No_HP[-1].pop(-1)
for Baris in No_HP:
  print(Baris)

[0, 8, 8, 2]
[2, 5, 4, 2]
[5, 9, 2]

LATIHAN 9

In [ ]:
# Menghapus elemen pada baris ke 3, kolom ke 2
No_HP[2][1] = 88
print("Array setelah mengubah elemen baris ke 3, kolom ke 2:" , No_HP)

Array setelah mengubah elemen baris ke 3, kolom ke 2: [[0, 8, 8, 2], [2, 5, 4, 2], [5, 88, 2]]

In [ ]:
#Latihan 9
No_HP[-1] [-1] = 17

for Baris in No_HP:
  print(Baris)

[0, 8, 8, 2]
[2, 5, 4, 2]
[5, 88, 17]

LATIHAN 10

In [ ]:
Belanja = ["Beras", "Gula", "Minyak"]
Belanja.append("Teh")
Belanja.remove("Gula")

print("Daftar belanjaa terbaru" , Belanja)

In [ ]:
#Latihan 10

Belanja = ["Mikrotik", "Router", "Access Point", "RJ45", "Switch"]
Belanja.append("Tang Crimping")
Belanja.remove("RJ45")

print("Macam barang belanjaan adalah" , Belanja)

Macam barang belanjaan adalah ['Mikrotik', 'Router', 'Access Point', 'Switch', 'Tang Crimping']